<head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="baidu-site-verification" content="B786jeR0MV" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}Kfpanda's Blog</title>
  <meta name="keywords" content="{{ page.keywords }}">
  <meta name="description" content="{{ page.description }}">

  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
  !window.jQuery && document.write('<script src="/static/js/jquery.min.js"><\/script>');
  </script>
  <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  !$('body').popover && document.write('<script src="/static/js/bootstrap.min.js"><\/script>');
  </script>
  <script type="text/javascript" src="/static/js/main.js"></script>
  <link rel="stylesheet prefetch" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script type="text/javascript">$(document).ready(function() {
    if( $('body').css('color') != 'rgb(51, 51, 51)') {
      $('head').prepend('<link type="text/css" rel="stylesheet prefetch" href="/static/css/bootstrap.min.css">');
    }
  });
  </script>
  <!--<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
  <link type="text/css" rel="stylesheet prefetch" href="/static/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet prefetch" href="/static/css/pygments.css">
  <link type="text/css" rel="stylesheet prefetch" href="/static/css/screen.css">
  <style type="text/css">
  {% if page.language == 'chinese' %}
    .post-container > p {text-indent: 2em;}
  {% endif %}
  </style>
</head>
